<div class="card-container">
  <ion-card>
    <div class="card-img" [style.background-image]="'url(' + getImageUrl() + ')'">

      <ion-button fill="clear">
        <ion-icon color="danger" name="heart-outline" class="fav-icon-container"></ion-icon>
      </ion-button>

      <div class="add-button-container">
        <ion-button color="light" (click)="addToCart(product.Id)" shape="round">
          <span>
            <ion-icon slot="icon-only" name="add" size="large" style="color: #10CB3C;"></ion-icon>
          </span>
        </ion-button>
      </div>

    </div>

    <ion-card-header>
      <ion-card-title class="ion-text-center" style="height: 70px;">
        {{product.Name}}
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <div class="rating-container">
        <ion-icon *ngFor="let i of [1, 2, 3, 4, 5]" name="star" [color]="i <= rating ? 'warning' : 'medium'"></ion-icon>
      </div>
      <div class="card-price">
        ${{product.ProductPrice.Price}}

      </div>
    </ion-card-content>

  </ion-card>
</div>