@import url('https://fonts.googleapis.com/css2?family=Khand&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.card-container {
    
}
ion-card {
    background-color: #FFFFFF !important;
    border: 1px solid #E8E9F2;
    box-shadow: 2px 3px 5px #E3E4EE;
    border-radius: 10px;
    margin: 5px;
}

.card-img {
    width: 100%;
    height: 200px;
    position: relative;
    background-repeat: no-repeat;
    //background-image: url(/assets/watch.png);
    background-size: 100% 100%;
    
}


.fav-icon-container {
    position: absolute !important ;
    --left: 0 ;
    --top: 0 ;
}

.add-button-container {
    position: absolute;
    --border-radius: 50%;
    bottom: 0;
    right: 0;
    
    
    
}

.rating-container {
    display: flex;
    justify-content: center;
}

ion-card-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.card-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    /* identical to box height */
    color: #10CB3C;
}

p {
    font-size: 8px;

}

.add-cart-button {
    font-size: 12px;
}

ion-img::part(image) {
    margin-top: 10px;
    height: 100px !important;
    align-items: center;
}