<ion-tabs color="#4CD86D">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="apps-outline" aria-hidden="true"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="list-outline" aria-hidden="true"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>